    html,
    body {
        height: 100%;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 150%;
        color: #333;
        background: #efeee7;
    }
    
    header {
        margin: 0 auto;
        text-align: center;
    }
    
    h1 {
        padding: 20px 0;
        margin: 0;
        margin-bottom: 20px;
        font-size: 64px;
        color: #555;
        text-align: center;
    }
    
    h2 {
        padding: 0px 0;
        margin: 0;
        margin-bottom: 5px;
        font-size: 32px;
        color: #555;
        text-align: center;
    }
    
    h3 {
        padding: 0px 0;
        margin: 0;
        margin-bottom: 5px;
        font-size: 24px;
        color: #555;
        text-align: center;
    }
    
    #map {
        width: 450px;
        height: 450px;
        padding: 20px;
        margin: 20px;
        align-items: center;
        position: relative;
        float: auto;
    }
    
    #graph {
        width: 350px;
        height: 350px;
        padding: 20px;
        margin: 20px;
        /* margin-bottom: 20px; */
        position: relative;
        float: auto
    }
    
    #graph2 {
        width: 350px;
        height: 350px;
        padding: 20px;
        margin: 20px;
        /* margin-bottom: 20px; */
        position: relative;
        float: auto
    }
    
    #calendar {
        width: 350px;
        height: 350px;
        padding: 20px;
        margin: 20px;
        /* margin-bottom: 20px; */
        position: relative;
        float: auto
    }
    
    #table {
        width: 350px;
        height: 350px;
        padding: 20px;
        margin: 20px;
        /* margin-bottom: 20px; */
        position: relative;
        float: auto
    }
    
    .container {
        margin: 0 auto;
        background: #999
    }
    
    .row {
        align-content: center;
    }
    
    .legend {
        padding: 10px;
        font-family: Sanchez, serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: #555;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }